img {
    opacity: 0.3;
    height: 400px;
  }
img:hover {
    opacity: 1.0;
  }
#vardas {
    font-size: 20pt;
    font-style: italic;
}
.lent{
    border: solid 5px rgb(255, 137, 3);
    margin:auto;
    width: 50%;
    height:100px;
}
td{
    font-size: 20pt;
    text-align: center;
    font-weight: bold;
}
body{
    background: rgb(255, 211, 130);
}
a{
    color: purple;
    font-size:40pt;
}
h1{
    text-align: center;
}
.did{
    font-size: 50pt;
}
h2{
    font-size:30pt;
}
li{
    font-size:20pt;
}